<%= form_with(model: todo, class: "contents") do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul class="list-disc ml-6">
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.textarea :content, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": todo.errors[:content].none?, "border-red-400 focus:outline-red-600": todo.errors[:content].any?}] %> 
  </div>
  <div class="my-5">
      <%= form.label :folder %>
      <%=form.text_field :folder , placeholder:"default" ,class:"block shadow-sm border rounded-md px-3 py-2 border-gray-400"%>
    </div>
  <div class="my-5">

  <div class="my-5 flex flex-col w-max">
    <%= form.label :priority %>
    <%= form.select :priority,
      Todo.priorities.keys.map { |p| [p.capitalize, p] },
      {},
      class: "block px-3 py-2 border border-gray-400 rounded-md shadow-sm" %>
  </div>

  <div class="my-5">
    <%= form.label :due_date%>
    <% if params[:date].presence %>
      <%= form.date_field :due_date ,value:params[:date],  class:"block px-3 py-2 border border-gray-400 shadow-sm rounded-lg "%>
      <%else %>
      <%= form.date_field :due_date ,  class:"block px-3 py-2 border border-gray-400 shadow-sm rounded-lg "%>
    <%end %>
  </div>
</div>
  
    
    
    
    <%= form.hidden_field :created_by, value:current_user.id %>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
