<%if @selected_view == "list"%>
<div id="hero" class="flex justify-between">
  <div id="undone"  class="w-full h-max flex">
    <%# HIGH PRIORITY %>
    <% if @undone.where(priority: :High).any?%>
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex justify-between items-center w-full gap-2">
          <span class="bg-red-200 rounded-lg px-3 py-2">High Priority</span>
          <span class="text-gray-500"><%= @undone.where(priority: :High).size%></span>
        </div>
          <div class="flex flex-col gap-2">
            <% @undone.where(priority: :High).each do |todo| %>
                <%= render todo %>
            <% end %>
          
          </div>
        </div>
      </div>
      <%end %>
    <% if @undone.where(priority: :Medium).any? %>
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex justify-between items-center w-ful gap-2">
          <span class="bg-yellow-200 rounded-lg px-3 py-2">Medium Priority</span>
          <span class="text-gray-500"><%= @undone.where(priority: :Medium).size%></span>
        </div>
          <div class="flex flex-col gap-2">
            <% @undone.where(priority: :Medium).each do |todo| %>
                <%= render todo %>
            <% end %>
          </div>
        </div>
    </div>
    <%end %>
    <%if @undone.where(priority: :Low).any? %>
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex justify-between items-center w-full gap-2">
          <span class="bg-green-200 rounded-lg px-3 py-2">Low Priority</span>
          <span class="text-gray-500"><%= @undone.where(priority: :Low).size%></span>
        </div>
          <div class="flex flex-col gap-2">
            <% @undone.where(priority: :Low).each do |todo| %>
                <%= render todo %>
            <% end %>
          </div>
        </div>
      </div>
      <%end %>
  </div>
  <div id="done">
    <%if @done.any? %>
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex items-center w-full gap-2">
          <span class="bg-gray-200 rounded-sm p-1">Done</span>
          <span class="text-gray-500"><%= @done.size%></span>
        </div>
          <div class="flex flex-col gap-1">
            <% @done.each do |todo| %>
                <%= render todo %>
            <% end %>
          
          </div>
        </div>
      </div>
    <%end  %>
  </div>
</div>
<%end %>