<% content_for :title, "Todos" %>


<%= render "index_header" %>
<div id="hero" class="flex justify-between">
  <div id="undone"  class="w-full h-max flex">
    <%# HIGH PRIORITY %>
    <% if @undone.any? || @done.any?%>
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex justify-around items-center w-max gap-2">
          <span class="bg-red-200 rounded-sm p-1">High Priority</span>
          <span class="text-gray-500"><%= @undone.where(priority: :High).size%></span>
        </div>
          <div class="">
            <% @undone.where(priority: :High).each do |todo| %>
                <%= render todo %>
            <% end %>
          
          </div>
        </div>
      </div>
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex justify-around items-center w-max gap-2">
          <span class="bg-yellow-200 rounded-sm p-1">Medium Priority</span>
          <span class="text-gray-500"><%= @undone.where(priority: :Medium).size%></span>
        </div>
          <div class="">
            <% @undone.where(priority: :Medium).each do |todo| %>
                <%= render todo %>
            <% end %>
          
          </div>
        </div>
      </div>
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex justify-around items-center w-full gap-2">
          <span class="bg-green-200 rounded-sm p-1">Low Priority</span>
          <span class="text-gray-500"><%= @undone.where(priority: :Low).size%></span>
        </div>
          <div class="">
            <% @undone.where(priority: :Low).each do |todo| %>
                <%= render todo %>
            <% end %>
          
          </div>
        </div>
      </div>
    </div>
  <div id="done">
    <div id="todos" class="m-5">
      <div class="flex flex-col gap-2">
        <div class="flex items-center w-full gap-2">
          <span class="bg-gray-200 rounded-sm p-1">Done</span>
          <span class="text-gray-500"><%= @done.size%></span>
        </div>
          <div class="">
            <% @done.each do |todo| %>
                <%= render todo %>
            <% end %>
          
          </div>
        </div>
      </div>

  
  </div>
      <% end %>
</div>